<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Coda&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Desplegado de cámaras de vigilancia conectadas</title>
  </head>

  <body style="background-color: #E9E1DA;"> 
    <div class="container-fluid" style="background-color: #0C4876;"> 
      <h2 style="font-family: 'Coda', cursive; color: aliceblue" id="centrar">
        Desplegado de cámaras de vigilancia conectadas1 
      </h2>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row gy-4" >
        <!--Para desplegado de cámaras de vigilancia conectadas-->
        <div class="col-11.5" >
          <div class="p-3 border bg-light">
            <div class="container-fluid" style="background-color: #608FB7;"> 
              <p style="color: white;">
                Desplegado de cámaras de vigilancia conectadas  
              </p>
            </div>
            <div class="centrar"> 
                <div class = "column has-text-centered">
                    <figure class="image has-text-centered"> 
                        <a href="./streaming_camara" target="_blank" class="btn btn-outline-secondary" onclick="cam('CAM1')" >Cámara 1</button-->
                            <i class="fa fa-camera fa-xs"></i>&nbsp;
                        </a>
                        <a href="./streaming_camara" target="_blank" class="btn btn-outline-secondary" onclick="cam('CAM2')" >Cámara 2</button-->
                            <i class="fa fa-camera fa-xs"></i>&nbsp;
                        </a>
                    </figure>
                </div>
            </div>
        </div>  
      </div>
    </div>
    <div class="container-fluid" id="centrar">
      <br><br>
      <a href="/" class="links">
        <button type="button" class="btn btn-primary btn-sm">Volver</button>
      </a>
    </div>
  </body>  
</html>

